{% extends "myplaylists/base.html" %}

{% block content %}

    <div vocab="http://schema.org/" typeof="MusicGroup">

<h1 property="legalName">{{ artist.name }}</h1>
<img property="image" src="{{ artist.image.url }}", height="300"/>
<h3>Area:</h3> <div property="foundingLocation">{{ artist.area }}</div>

    <h2>Releases:</h2>
    <table>
        {% for release in releases  %}
        <tr>
            <td>
                <span>
                    <img src="{{ release.image.url }}" height="50" width="50">
                </span>
            </td>
            <td>
                <span property="album"><a href="{% url 'myplaylists:release_detail' release.id %}">
                    {{ release.name }}
                </a></span>
            </td>
            <td>
                <i>
                    <span>{{ release.year }}</span>
                </i>
            </td>
        </tr>
        {% endfor %}
    </table>
<h3>Biography:</h3>
    <blockquote property="description">{{ artist.biography }}</blockquote>

    </div>
{% endblock %}