{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SITW_Music</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
<div id="header">
   <div id="profile">
        {% if user.username %}
            <a href="">Hi! {{ user.username }}</a> <img src="">
        {% endif %}
    </div>

    <h1>SITW_Music</h1>
    {% block menu %}
        <div id="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/myplaylists/playlists">MyPlaylists</a></li>
                <li><a href="/myplaylists/artists">Artists</a></li>
                <li><a href="/myplaylists/releases">Releases</a></li>
                <li><a href="/myplaylists/songs">Songs</a></li>
            </ul>
        </div>
    {% endblock %}
    <div id="login">
            <ul>
                {% if user.username %}
                <li><a href="/logout">Logout</a></li>
                    {% if user.username == "admin" %}
                        <li><a href="/admin">Administration</a></li>
                    {% endif %}
                {% else %}
                    <li><a title="Login" href="/login">Sign in</a></li>
                {% endif %}
            </ul>
    </div>
    {% block header %}
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>
