{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<style>
.container{ position:relative; padding:0 200px 0 200px;}
#sidebar {
    position: relative;
    top:0; bottom:0; left:0;
    width: 10px;
    background:#eeeeee;
}

#header { border:1px solid #000; width: auto; height:200px; background-color: #eeeeee;
}
#content { width:auto; height:auto;
}
</style>
</head>

<body>
<div class="container">
    <div id="header">
        {% block header %}
            {% if user.username %}
                <p style="text-align:right">User {{ user.username }} (<a href="/logout">logout</a>)</p>
                {% if user.username == "admin" %}
                    <p style="text-align:right">(<a href="/admin">Administration</a>)</p>
                {% endif %}
            {% else %}
                <p style="text-align: right"><a href="/login">Sign in</a></p>
            {% endif %}
        {% endblock %}
    <h1>SITW_Music</h1>
    </div>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/myplaylists/playlists">MyPlaylists</a></li>
                <li><a href="/myplaylists/artists">Artists</a></li>
                <li><a href="/myplaylists/releases">Releases</a></li>
                <li><a href="/myplaylists/songs">Songs</a></li>
            </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</div>
</body>
</html>
