{% extends "myplaylists/base.html" %}
{% load staticfiles %}

{% block content %}

    <script>
        $(function() {
            $.getJSON("{% static "nationalities.json" %}", {}, function (nationalities) {
                $("#id_nationality").autocomplete({
                    source: nationalities
                });
            });

            $("#id_location").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "http://ws.geonames.org/searchJSON",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            maxRows: 10,
                            name_startsWith: request.term,
                            username: "sitwmusic"
                        },
                        success: function( data ) {
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + ", " + item.countryName,
                                    value: item.name + ", " + item.countryName,
                                    countryName: item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Enviar"/>
    </form>

{% endblock %}
