{% extends "myplaylists/base.html" %}

{% block title %}MyPlaylists - {{ playlist.name }}{% endblock %}

{% block content %}

<span vocab="http://schema.org/" typeof="Restaurant">
<h1>
    <span property="name">{{ playlist.name }}</span>
    {% if user == playlist.user %}
        (<a href="{% url 'myplaylists:playlist_edit' playlist.id %}">edit</a>)
        (<a href="{% url 'myplaylists:delete_playlist' pk=playlist.pk %}">delete</a>)
    {% endif %}
</h1>

<h2>Songs:</h2>
<p>
    {% for song in playlist.songs.all %}
        {{ song }}
    {% endfor %}
</p>

{% endblock %}

{% block footer %}
    Created by {{ playlist.user }}
{% endblock %}
