{% extends "myplaylists/base.html" %}

{% block content %}
<h1> {{ release.name }} </h1>
<div id="releaseInfo">
<p>
    <img src="{{ release.image.url }}", height="300"/>
    <h3>Artist:</h3><a href="{% url 'myplaylists:artist_detail' release.artist.id %}">{{ release.artist.name }}</a>
    <h3>Year:</h3> {{ release.year }}
    <h3>Genre:</h3> {{ release.kind }}

</div>

<div id="songlist">
    <table>
        {% for song in songs  %}
        <tr>
            <td><a href="{% url 'myplaylists:song_detail' song.id %}">{{ song.name }}</a></td>
            <td><i>{{ song.duration }}</i></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="reviews">
    <h2>Reviews</h2>
    <span rel="aggregateRating">Average user rating: <span property="ratingValue">{{ avgRating }}</span>
    <br><span rel="numberOfReviews">from {{ total }} reviews</span>
    <ul rel="review">
        {% for review in release.releasereview_set.all %}
            <li typeof="Review">
                <span property="rating"> Rating: {{ review.rating }} by</span>
                <span property="author">{{ review.user }}</span>
                {%  if user == review.user  %}
                    <span property="delete">(<a href="{% url 'myplaylists:review_delete' review.id release.id %}">delete</a>)</span>
                {%  endif %}
                <p property="description">{{ review.comment }}</p>
                <span property="datePublished">{{ review.date}}</span>
            </li>
        {% endfor %}
    </ul>
    <h3>Your Review</h3>
    <form action="{% url 'myplaylists:review_create' release.id %}" method="post">
        {% csrf_token %}
        Rating:
        <select name="rating" id="rating">
            <option value="5">5</option>
            <option value="4">4</option>
            <option selected value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select><br>
        Comment: <br>
        <textarea  name="comment" id="comment" rows="4" cols="30"></textarea>
        <br>
        <input type="submit" value="Review" />
    </form>
</div>
{% endblock %}