{% extends "myplaylists/base.html" %}

{% block content %}

<h1>List of most popular Releases</h1>
<table>
    {% for release in all_releases_list %}
    <tr>
        <td>
            <span>
                <img src="{{ release.image.url }}" height="50" width="50">
            </span>
        </td>
        <td>
            <span property="name"><a href="{% url 'myplaylists:release_detail' release.id %}">
                {{ release.name }}
            </a></span>
        </td>
        <td>
            <i>
                <span property="year">{{ release.year }}</span>
            </i>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
