{% extends "myplaylists/base.html" %}

{% block content %}
<div vocab="http://schema.org/" typeof="MusicAlbum">
    <h1 property="name">{{ release.name }}</h1>
    <div id="releaseInfo">
        <img alt="cover art", src="{{ release.image.url }}", height="300" property="image"/>
        <h2 property="byArtist" typeof="MusicGroup">
            Artist:
            <span property="name"><a href="{% url 'myplaylists:artist_detail' release.artist.id %}">
                {{ release.artist.name }}
            </a></span>
        </h2>
        <h3>Year: <span property="datePublished">{{ release.year }}</span></h3>
        <h3>Genre:</h3><span property="genre">{{ release.kind }}</span>
    </div>

    <div id="songlist" property="track" typeof="ItemList">
        <table>
            {% for song in songs  %}
            <tr property="itemListElement" typeof="MusicRecording">
                <td>
                    <span property="name"><a href="{% url 'myplaylists:song_detail' song.id %}">
                        {{ song.name }}
                    </a></span>
                </td>
                <td>
                    <i>
                        <span property="duration">{{ song.duration }}</span>
                    </i>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="reviews">
        <h2>Reviews</h2>
        Average user rating:
        <span property="aggregateRating"  typeof="AggregateRating">
            <span property="ratingValue">{{ avgRating }}</span>
            <br>from
            <span property="reviewCount">{{ total }}</span> reviews
        </span>
        <ul rel="review">
            {% for review in release.releasereview_set.all %}
                <li typeof="Review">
                    <span property="reviewRating" typeof="Rating">
                        Rating:
                        <span property="ratingValue">{{ review.rating }}</span>
                        <span property="worstRating" content="0"></span>
                        <span property="bestRating" content="5"></span>
                        by
                    </span>
                    <span property="author">{{ review.user }}</span>
                    {%  if user == review.user  %}
                        (<a href="{% url 'myplaylists:review_delete' review.id release.id %}">delete</a>)
                    {%  endif %}
                    <p property="reviewBody">{{ review.comment }}</p>
                    <span property="datePublished">{{ review.date}}</span>
                </li>
            {% endfor %}
        </ul>
        <h3>Your Review</h3>
        <form action="{% url 'myplaylists:review_create' release.id %}" method="post">
            {% csrf_token %}
            Rating:
            <select name="rating" id="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option selected value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select><br>
            Comment: <br>
            <textarea  name="comment" id="comment" rows="4" cols="30"></textarea>
            <br>
            <input type="submit" value="Review" />
        </form>
    </div>
</div>
{% endblock %}