{% extends "myplaylists/base.html" %}

{% block content %}
<h1> {{ release.name }} </h1>
<p>
  <img src="{{ release.image.url }}", height="300"/>
</p>
<p>
  <h3>Year:</h3> {{ release.year }}
</p>

<p>
  <h3>Kind:</h3> {{ release.kind }}
</p>

    {% for song in songs  %}
        {%  if song.release.id == release.id %}
            {{ song.name }} {{ song.duration }}
        {%  endif %}
    {% endfor %}

<p>
  Artist: <a href="{% url 'myplaylists:artist_detail' release.artist.id %}">{{ release.artist.name }}</a>
</p>
<h2>Reviews</h2>

<ul rel="review">
    {% for review in release.releasereview_set.all %}
        <li typeof="Review">
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="datePublished">{{ review.date}}</span></p>
        </li>
    {% endfor %}
</ul>

<h3>Add Review</h3>
<form action="{% url 'myplaylists:review_create' release.id %}" method="post">
    {% csrf_token %}
    <textarea name="comment" id="comment" rows="4"></textarea>
    <input type="submit" value="Review" />
</form>
{% endblock %}