body{
    background-color: #e8ddcb;
    font-family: Verdana;
}
#header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    text-decoration-style: dashed;
    background-color: #033649;
}

#header h1 {
    color: #e8ddcb;
    margin: 15px;
}

#header ul {
    margin: 0;
    padding: 0;
}

#header ul li {
    display: inline-table;
}

#header ul li a {
    border-radius: 10px;
    text-decoration: none;
    padding: .2em 1em;
    color: #e8ddcb;
    background-color: #036564;
}

#header ul li a:hover {
    color: black;
    background-color: #cdb380;
}

#login {
    float: right;
}

#profile{
    float: right;
}
#profile a{
    text-decoration: none;
    color: #e8ddcb;

}
#menu {
    float: left;
    overflow: hidden;
}
#content {
    overflow: hidden;
}
#content a {
    text-decoration: none;
    color: black;
}
#content table {
    text-align: left;
}

#content td {
    padding: 10px;
}

#content h1 {
    color: #033649;
}